.m-toolbar__item {
    display: block;
    border-bottom: 1px solid #B8B8B8;
}

.m-toolbar__item--user {
    height: 40px;
}

.m-toolbar__btn {
    display: block;
    height: 40px;
    line-height: 40px;
    border: none;
    background: none;
    text-align: center;
    width: 100%;
    cursor: default;
    outline: 0;
    padding: 0;
}

.m-toolbar__btn:disabled {
    opacity: 0.4;
    cursor: not-allowed;
}

.m-toolbar__avatar {
    width: 30px;
    height: 30px;
    border-radius: 3px;
    margin-top: 4px;
    border: 1px solid #C2C4C8;
}

.m-toolbar__icon {
    fill: #363D4A;
    stroke: #363D4A;
    padding-top: 12px;
}