.m-colors {
}

.m-colors__title {
    font-size: 14px;
    line-height: 18px;
    color: #363D4A;
    margin-bottom: 8px;
    position: relative;
}

.m-colors__desc {
    font-size: 11px;
    color: rgba(54,61,74,0.75);
    line-height: 13px;
}

.m-colors__desc-wrap {
    overflow: hidden;
    position: relative;
    margin-bottom: 16px;
}

.m-colors__desc-wrap.state-collapsed {
    max-height: 26px;
}

.m-colors__desc-wrap.state-collapsed:after {
    z-index: 4;
    display: block;
    content: '';
    position: absolute;
    right: 0;
    top: 8px;
    left: 0;
    height: 18px;
    border-radius: 0 0 3px 3px;
    background-image: -webkit-linear-gradient(top,rgba(255,255,255,0) 0,#fff 100%);
    background-image: -moz-linear-gradient(top,rgba(255,255,255,0) 0,#fff 100%);
    background-image: -o-linear-gradient(top,rgba(255,255,255,0) 0,#fff 100%);
    background-image: linear-gradient(top,rgba(255,255,255,0) 0,#fff 100%);
    pointer-events: none;
}

.m-colors__expand-collapse {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 0;
    text-align: center;
    z-index: 5;
}

.m-colors__desc-wrap.state-collapsed .m-colors__expand-collapse {
    top: 26px;
    bottom: auto;
}

.m-colors__collapse,
.m-colors__expand {
    visibility: hidden;
    display: inline-block;
    font-size: 11px;
    line-height: 13px;
    opacity: 0;
    background: linear-gradient(rgba(85,84,89,.8),rgba(85,84,89,.8)),linear-gradient(rgba(255,255,255,.3),rgba(255,255,255,.3));
    border-radius: 9px;
    border: none;
    outline: 0;
    color: #fff;
    cursor: pointer;
    transform: translateY(-13px);
    -webkit-transition: -webkit-transform .1s cubic-bezier(.2,.3,.25,.9),opacity .1s cubic-bezier(.2,.3,.25,.9);
    -moz-transition: -moz-transform .1s cubic-bezier(.2,.3,.25,.9),opacity .1s cubic-bezier(.2,.3,.25,.9);
    transition: transform .1s cubic-bezier(.2,.3,.25,.9),opacity .1s cubic-bezier(.2,.3,.25,.9);
    padding: 2px 5px 3px 5px;
}

.m-colors__collapse.state-visible,
.m-colors__expand.state-visible {
    transform: translateY(-23px);
    opacity: 1;
    visibility: visible;
}

.m-colors__palette {
    margin: 24px 18px 19px 18px;
}

.m-colors__colors {
    margin-left: -5px;
}

.m-colors__color {
    display: block;
    float: left;
    border-radius: 2px;
    box-shadow: inset 0 0 0 2px rgba(0, 0, 0, 0.025);
    width: 40px;
    height: 32px;
    margin-left: 5px;
    margin-bottom: 5px;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
}

.m-colors__color:hover {
    transform: scale(1.1);
}

.m-colors__color:active, .m-colors__color:focus {
    opacity: 0.8;
}

.m-colors__dropdown {
    position: absolute;
}

.m-colors__btn {
    padding: 0 10px;
}

.m-colors__menu {
    min-width: 0;
}