.m-modal {
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 20px 0;
    box-sizing: border-box;
    z-index: 2000;
    visibility: hidden;

    /* reset font */
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: 400;
    font-size: 14px;
}

.m-modal.state-visible {
    visibility: visible;
}

.m-modal:before,
.m-modal:after {
    display: table;
    content: " ";
}

.m-modal:after {
    clear: both;
}

.m-modal__close {
    position: absolute;
    background: rgba(255,255,255,0.8);
    border-radius: 50%;
    color: rgba(0,0,0,0.8);
    text-decoration: none;
    text-align: center;
    z-index: 3;
    top: 18px;
    right: 18px;
    font-size: 20px;
    line-height: 23px;
    height: 25px;
    width: 25px;
}

.m-modal__close.state-hidden {
    display: none;
}

.m-modal__overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    visibility: hidden;
    top: 0;
    left: 0;
    z-index: 1000;
    opacity: 0;
    background: rgba(0, 0, 0, .5);
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.m-modal__overlay.state-visible {
    opacity: 1;
    visibility: visible;
}

.m-modal__content {
    align-self: center;
    background: #fff;
    border-radius: 3px;
    margin: auto;
    overflow: auto;
    max-height: 100%;
    -webkit-transform: scale(0.7);
    -moz-transform: scale(0.7);
    -ms-transform: scale(0.7);
    transform: scale(0.7);
    opacity: 0;
}

.m-modal__content--default {
    width: calc(100% - 60px);
    height: calc(100% - 20px);
}

.m-modal.state-visible .m-modal__content {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

body.state-m-modal-visible {
    /* used when modal is visible */
    overflow: hidden;
}

