.m-folderchooser__form {
    display: flex;
    flex-direction: column;
    height: 100%;
}


.m-folderchooser__target {
    display: block;
    border-bottom: 1px solid #E6E6E6;
    background: #fff;
    overflow: hidden;
}

.m-folderchooser__list {
    flex: 1 0;
    overflow: auto;
}

.m-folderchooser__content {
    display: block;
    overflow: hidden;
    padding: 19px 18px;
}

.m-folderchooser__type {
    float: left;
    padding-right: 12px;
    position: relative;
}

.m-folderchooser__name {
    font-size: 14px;
    line-height: 18px;
    color: #363D4A;
    overflow: hidden;
    border: 0;
}

.m-folderchooser__item--create {
    color: rgba(54,61,74,0.5);
    transition: color 0.2s linear;
}

.m-folderchooser__item--create:hover {
    color:  rgba(54,61,74,0.75);
}

.m-folderchooser__item--create .m-folderchooser__name {
    color: rgba(54,61,74,0.5);
    outline: none;
    display: block;
    transition: color 0.2s linear;
    min-width: 60vw;
}

.m-folderchooser__item--create .m-folderchooser__name:focus {
    color:  rgba(54,61,74,0.75);
}

.m-folderchooser__item--create .m-folderchooser__name::-webkit-input-placeholder {
    color: rgba(54,61,74,0.5);
}

.m-folderchooser__item--create:hover .m-folderchooser__name::-webkit-input-placeholder {
    color:  rgba(54,61,74,0.75);
}

.m-folderchooser__item {
    display: block;
    overflow: hidden;
    padding: 5px 18px 6px 18px;
    cursor: default;
}

.m-folderchooser__item:first-child {
    margin-top: 6px;
}

.m-folderchooser__item:last-child {
    margin-bottom: 5px;
}

.m-folderchooser__name--target {
    font-weight: bold;
    font-size: 16px;
    line-height: 18px;
}

.m-folderchooser__action {
    display: block;
    float: left;
    padding: 19px 0 19px 18px;
}

.m-folderchooser__color {
    position: absolute;
    width: 3px;
    height: 7px;
    top: 6px;
    left: 3px;
    border-radius: 2px;
}
