@font-face {
  font-family: 'fronticons';
  src:
    url('../fonts/icons/fronticons.ttf?v1') format('truetype'),
    url('../fonts/icons/fronticons.woff?v1') format('woff'),
    url('../fonts/icons/fronticons.svg?v1#fronticons') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'fronticons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg)
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg)
  }
}

@keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg)
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg)
  }
}

.anim-spin {
  display: inline-block;
  -webkit-animation: spinner 2s linear infinite;
  animation: spinner 2s linear infinite;
}


/* Begin Icons */
.icon-button:before {
    content: "\e90d";
}
.icon-rotate-ccw:before {
    content: "\e90b";
}
.icon-rotate-cw:before {
    content: "\e90c";
}
.icon-header:before {
    content: "\e90a";
}
.icon-indent:before {
    content: "\e902";
}
.icon-dedent:before {
    content: "\e903";
}
.icon-eraser:before {
    content: "\e904";
}
.icon-subscript:before {
    content: "\e905";
}
.icon-superscript:before {
    content: "\e906";
}
.icon-strikethrough:before {
    content: "\e907";
}
.icon-underline:before {
    content: "\e908";
}
.icon-align-center:before {
    content: "\e909";
}
.icon-crosshairs:before {
    content: "\e901";
}
.icon-arrows:before {
    content: "\e900";
}
.icon-search:before {
    content: "\f002";
}
.icon-envelope-o:before {
    content: "\f003";
}
.icon-star:before {
    content: "\f005";
}
.icon-star-o:before {
    content: "\f006";
}
.icon-user:before {
    content: "\f007";
}
.icon-film:before {
    content: "\f008";
}
.icon-th-large:before {
    content: "\f009";
}
.icon-check:before {
    content: "\f00c";
}
.icon-times:before {
    content: "\f00d";
}
.icon-search-plus:before {
    content: "\f00e";
}
.icon-search-minus:before {
    content: "\f010";
}
.icon-cog:before {
    content: "\f013";
}
.icon-trash-o:before {
    content: "\f014";
}
.icon-home:before {
    content: "\f015";
}
.icon-clock-o:before {
    content: "\f017";
}
.icon-download:before {
    content: "\f019";
}
.icon-arrow-circle-o-down:before {
    content: "\f01a";
}
.icon-arrow-circle-o-up:before {
    content: "\f01b";
}
.icon-refresh:before {
    content: "\f021";
}
.icon-lock:before {
    content: "\f023";
}
.icon-tag:before {
    content: "\f02b";
}
.icon-print:before {
    content: "\f02f";
}
.icon-camera:before {
    content: "\f030";
}
.icon-font:before {
    content: "\f031";
}
.icon-bold:before {
    content: "\f032";
}
.icon-italic:before {
    content: "\f033";
}
.icon-align-left:before {
    content: "\f036";
}
.icon-align-right:before {
    content: "\f038";
}
.icon-align-justify:before {
    content: "\f039";
}
.icon-list:before {
    content: "\f03a";
}
.icon-video-camera:before {
    content: "\f03d";
}
.icon-image:before {
    content: "\f03e";
}
.icon-pencil:before {
    content: "\f040";
}
.icon-tint:before {
    content: "\f043";
}
.icon-share-square-o:before {
    content: "\f045";
}
.icon-check-square-o:before {
    content: "\f046";
}
.icon-play:before {
    content: "\f04b";
}
.icon-chevron-left:before {
    content: "\f053";
}
.icon-chevron-right:before {
    content: "\f054";
}
.icon-plus-circle:before {
    content: "\f055";
}
.icon-minus-circle:before {
    content: "\f056";
}
.icon-times-circle:before {
    content: "\f057";
}
.icon-check-circle:before {
    content: "\f058";
}
.icon-question-circle:before {
    content: "\f059";
}
.icon-info-circle:before {
    content: "\f05a";
}
.icon-ban:before {
    content: "\f05e";
}
.icon-arrow-left:before {
    content: "\f060";
}
.icon-arrow-right:before {
    content: "\f061";
}
.icon-arrow-up:before {
    content: "\f062";
}
.icon-arrow-down:before {
    content: "\f063";
}
.icon-share:before {
    content: "\f064";
}
.icon-expand:before {
    content: "\f065";
}
.icon-compress:before {
    content: "\f066";
}
.icon-plus:before {
    content: "\f067";
}
.icon-exclamation-circle:before {
    content: "\f06a";
}
.icon-eye:before {
    content: "\f06e";
}
.icon-eye-slash:before {
    content: "\f070";
}
.icon-exclamation-triangle:before {
    content: "\f071";
}
.icon-warning:before {
    content: "\f071";
}
.icon-comment:before {
    content: "\f075";
}
.icon-chevron-up:before {
    content: "\f077";
}
.icon-chevron-down:before {
    content: "\f078";
}
.icon-folder:before {
    content: "\f07b";
}
.icon-arrows-v:before {
    content: "\f07d";
}
.icon-arrows-h:before {
    content: "\f07e";
}
.icon-key:before {
    content: "\f084";
}
.icon-cogs:before {
    content: "\f085";
}
.icon-external-link:before {
    content: "\f08e";
}
.icon-upload:before {
    content: "\f093";
}
.icon-square-o:before {
    content: "\f096";
}
.icon-twitter:before {
    content: "\f099";
}
.icon-facebook:before {
    content: "\f09a";
}
.icon-unlock:before {
    content: "\f09c";
}
.icon-credit-card:before {
    content: "\f09d";
}
.icon-bell-o:before {
    content: "\f0a2";
}
.icon-hand-o-up:before {
    content: "\f0a6";
}
.icon-arrow-circle-left:before {
    content: "\f0a8";
}
.icon-arrow-circle-right:before {
    content: "\f0a9";
}
.icon-arrow-circle-up:before {
    content: "\f0aa";
}
.icon-arrow-circle-down:before {
    content: "\f0ab";
}
.icon-globe:before {
    content: "\f0ac";
}
.icon-wrench:before {
    content: "\f0ad";
}
.icon-briefcase:before {
    content: "\f0b1";
}
.icon-group:before {
    content: "\f0c0";
}
.icon-users:before {
    content: "\f0c0";
}
.icon-link:before {
    content: "\f0c1";
}
.icon-scissors:before {
    content: "\f0c4";
}
.icon-copy:before {
    content: "\f0c5";
}
.icon-paperclip:before {
    content: "\f0c6";
}
.icon-bars:before {
    content: "\f0c9";
}
.icon-list-ul:before {
    content: "\f0ca";
}
.icon-list-ol:before {
    content: "\f0cb";
}
.icon-table:before {
    content: "\f0ce";
}
.icon-magic:before {
    content: "\f0d0";
}
.icon-caret-down:before {
    content: "\f0d7";
}
.icon-caret-up:before {
    content: "\f0d8";
}
.icon-caret-left:before {
    content: "\f0d9";
}
.icon-caret-right:before {
    content: "\f0da";
}
.icon-envelope:before {
    content: "\f0e0";
}
.icon-comment-o:before {
    content: "\f0e5";
}
.icon-clipboard:before {
    content: "\f0ea";
}
.icon-cloud-download:before {
    content: "\f0ed";
}
.icon-cloud-upload:before {
    content: "\f0ee";
}
.icon-suitcase:before {
    content: "\f0f2";
}
.icon-bell:before {
    content: "\f0f3";
}
.icon-file-text-o:before {
    content: "\f0f6";
}
.icon-building-o:before {
    content: "\f0f7";
}
.icon-angle-left:before {
    content: "\f104";
}
.icon-angle-right:before {
    content: "\f105";
}
.icon-angle-up:before {
    content: "\f106";
}
.icon-angle-down:before {
    content: "\f107";
}
.icon-desktop:before {
    content: "\f108";
}
.icon-tablet:before {
    content: "\f10a";
}
.icon-mobile:before {
    content: "\f10b";
}
.icon-circle-o:before {
    content: "\f10c";
}
.icon-quote-left:before {
    content: "\f10d";
}
.icon-spinner:before {
    content: "\f110";
}
.icon-circle:before {
    content: "\f111";
}
.icon-folder-o:before {
    content: "\f114";
}
.icon-code:before {
    content: "\f121";
}
.icon-question:before {
    content: "\f128";
}
.icon-info:before {
    content: "\f129";
}
.icon-exclamation:before {
    content: "\f12a";
}
.icon-calendar-o:before {
    content: "\f133";
}
.icon-rocket:before {
    content: "\f135";
}
.icon-ellipsis-h:before {
    content: "\f141";
}
.icon-ellipsis-v:before {
    content: "\f142";
}
.icon-minus-square:before {
    content: "\f146";
}
.icon-level-up:before {
    content: "\f148";
}
.icon-level-down:before {
    content: "\f149";
}
.icon-youtube-play:before {
    content: "\f16a";
}
.icon-long-arrow-down:before {
    content: "\f175";
}
.icon-long-arrow-up:before {
    content: "\f176";
}
.icon-long-arrow-left:before {
    content: "\f177";
}
.icon-long-arrow-right:before {
    content: "\f178";
}
.icon-archive:before {
    content: "\f187";
}
.icon-arrow-circle-o-right:before {
    content: "\f18e";
}
.icon-arrow-circle-o-left:before {
    content: "\f190";
}
.icon-google:before {
    content: "\f1a0";
}
.icon-language:before {
    content: "\f1ab";
}
.icon-building:before {
    content: "\f1ad";
}
.icon-cube:before {
    content: "\f1b2";
}
.icon-paper-plane:before {
    content: "\f1d8";
}
.icon-bell-slash:before {
    content: "\f1f6";
}
.icon-bell-slash-o:before {
    content: "\f1f7";
}
.icon-trash:before {
    content: "\f1f8";
}
.icon-pie-chart:before {
    content: "\f200";
}
.icon-search2:before {
    content: "\e90e";
}
.icon-speech-bubble:before {
    content: "\e90f";
}
.icon-tiles:before {
    content: "\e910";
}
/* End Icons */

