/* fade image in while loading and show a background color */

img.lazyload,
iframe.lazyload {
    opacity: 0;
    will-change: opacity;
}

img.lazyloading, img.lazyloaded,
iframe.lazyloading, iframe.lazyloaded {
    opacity: 1;
    -webkit-transition: opacity 0.2s ease-in-out;
    -moz-transition: opacity 0.2s ease-in-out;
    transition: opacity 0.2s ease-in-out;
    background: #f7f7f7;
}

img.lazyloaded, iframe.lazyloaded {
    background: transparent;
}
