@font-face {
    font-family: 'unicons';
    src:
      url('../fonts/icons/unicons.ttf?v=1') format('truetype'),
      url('../fonts/icons/unicons.woff?v=1') format('woff'),
      url('../fonts/icons/unicons.svg?v1#unicons') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="fi-"], [class*=" fi-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'unicons' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.fi-checkmark:before {
    content: "\e928";
}

.fi-arrow-up:before {
    content: "\e929";
}

.fi-arrow-down:before {
    content: "\e92a";
}

.fi-folder:before {
    content: "\e900";
}

.fi-pattern-library:before {
    content: "\e901";
}

.fi-projects:before {
    content: "\e902";
}

.fi-guidelines:before {
    content: "\e903";
}

.fi-image-library:before {
    content: "\e904";
}

.fi-image:before {
    content: "\e905";
}

.fi-team:before {
    content: "\e906";
}

.fi-activity:before {
    content: "\e907";
}

.fi-analytics:before {
    content: "\e908";
}

.fi-annotations:before {
    content: "\e909";
}

.fi-appearance:before {
    content: "\e90a";
}

.fi-assets:before {
    content: "\e90b";
}

.fi-builder:before {
    content: "\e90c";
}

.fi-colors:before {
    content: "\e90d";
}

.fi-typography:before {
    content: "\e90e";
}

.fi-interactions:before {
    content: "\e90f";
}

.fi-measurements:before {
    content: "\e910";
}

.fi-modules:before {
    content: "\e911";
}

.fi-settings:before {
    content: "\e912";
}

.fi-download:before {
    content: "\e913";
}

.fi-link-external:before {
    content: "\e92b";
}

.fi-share:before {
    content: "\e914";
}

.fi-collapse:before {
    content: "\e915";
}

.fi-expand:before {
    content: "\e916";
}

.fi-integrations:before {
    content: "\e917";
}

.fi-lightning:before {
    content: "\e918";
}

.fi-notifications:before {
    content: "\e919";
}

.fi-pen:before {
    content: "\e91a";
}

.fi-planning:before {
    content: "\e91b";
}

.fi-info:before {
    content: "\e91c";
}

.fi-plus:before {
    content: "\e91d";
}

.fi-revisions:before {
    content: "\e91e";
}

.fi-unknown:before {
    content: "\e91f";
}

.fi-reject:before {
    content: "\e920";
}

.fi-reject-circle:before {
    content: "\e921";
}

.fi-approve:before {
    content: "\e922";
}

.fi-checkmark-circle:before {
    content: "\e923";
}

.fi-emoji-happy-o:before {
    content: "\e924";
}

.fi-emoji-happy:before {
    content: "\e925";
}

.fi-emoji-neutral:before {
    content: "\e926";
}

.fi-emoji-unhappy:before {
    content: "\e927";
}