<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script>
      var isChrome = /Chrome/.test(navigator.userAgent) && /Google Inc/.test(navigator.vendor);

      if(!isChrome) {
          document.writeln('<link rel="stylesheet" type="text/css" href="../statics.css">');
          document.writeln('<scr' + 'ipt src="../statics.js"></scr' + 'ipt>');
          document.writeln('<scr' + 'ipt src="../app.js"></scr' + 'ipt>');
      }
      else {
          document.writeln('<link rel="stylesheet" type="text/css" href="/frontify.sketchplugin/Contents/Resources/statics.css">');
          document.writeln('<scr' + 'ipt src="/frontify.sketchplugin/Contents/Resources/statics.js"></scr' + 'ipt>');
          document.writeln('<scr' + 'ipt src="/frontify.sketchplugin/Contents/Resources/app.js"></scr' + 'ipt>');
      }
    </script>
    <title>Login</title>
</head>
<body>
<script>document.writeln(window.tpl.header({ title: 'Frontify Login'}));</script>
<div class="a-colorbar"></div>
<div class="mod mod-login"></div>
<script>
    // Terrific Bootstrap
    var $page = $('body');
    application = new Tc.Application($page);
    application.registerModules();
    application.start();
</script>
</body>
</html>
