.a-dropdown {
    width: 100%;
    position: relative;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    border: 0;
    -webkit-transition: color 0.3s ease-in-out;
    transition: color 0.3s ease-in-out;
    font-size: 14px;
    line-height: 18px;
    background: transparent;
    cursor: inherit;
    outline: 0;
}

.a-dropdown > .selected {
    padding: 4px 0 10px 0;
}
.a-dropdown > .selected:hover,
.a-dropdown > .selected:focus {
    cursor: default;
}

.a-dropdown > .selected .a-dropdown__arrow {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 25px;
    line-height: 33px;
}

.a-dropdown ul {
    display: none;
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    background: #fff;
    z-index: 10;
    line-height: 1;
    -webkit-box-shadow: 0 2px 4px 0 rgba(0,0,0,.4);
    -moz-box-shadow: 0 2px 4px 0 rgba(0,0,0,.4);
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.4);
    max-height: 300px;
    overflow: auto;
    margin: 0;
    padding: 0;
}

.a-dropdown ul li {
    cursor: default;
    position: relative;
    display: block;
    font-size: 13px;
    line-height: 1.4;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.a-dropdown ul li > span {
    float: left;
    display: block;
    padding: 8px;
}

.a-dropdown ul li.hover {
    background: #f0f0f0;
}

.a-dropdown ul li.selected {
    background: #51BDCE;
    color: #fff;
}