.m-btn-bar {
    margin-top: 15px;
    margin-bottom: 15px;
    position: relative;
}

/* General */
.m-btn-bar:before,
.m-btn-bar:after {
    content: " ";
    display: table;
}

.m-btn-bar:after {
    clear: both;
}

.m-btn-bar > .m-btn {
    margin: 0;
    float: left;
    margin-right: 10px;
}

.m-btn-bar > .m-btn-bar__group {
    margin: 0;
    margin-right: 10px;
}

.m-btn-bar > .m-btn:last-child,
.m-btn-bar > .m-btn-bar__group:last-child {
    margin-right: 0;
}

.m-btn-bar__group > .m-btn {
    float: left;
    border-radius: 0;
    margin-left: -1px;
    margin-right: 0;
}

.m-btn-bar__group > .m-btn:last-of-type {
    position: relative;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.m-btn-bar__group > .m-btn:first-of-type {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    margin-left: 0;
}

.m-btn-bar > .m-btn--right {
    float: right;
}

.m-btn-bar--centered > .m-btn,
.m-btn-bar--centered > .m-btn-bar__group {
    display: inline-block;
    float: none;
}

/* Sizes */
.m-btn-bar--xs {
    margin-top: 6px;
    margin-bottom: 6px;
}

.m-btn-bar--sm {
    margin-top: 15px;
    margin-bottom: 15px;
}

/* Alignments */
.m-btn-bar--left {
    float: left;
}

.m-btn-bar--right {
    float: right;
}

.m-btn-bar--centered {
    text-align: center;
}

.m-btn-bar--footer-wrap {
    padding-bottom: 67px;
}

.m-btn-bar--footer {
    background: #FDFDFD;
    margin: 0;
    padding: 15px 0;
    box-shadow: 0 2px 8px 0 rgba(0,0,0,0.25);
}