.a-loader {
    display: flex;
    margin: 0 auto;
    padding: 32px 0;
    box-sizing: border-box;
    width: 80px;
    height: 100%;
    text-align: center;
}

.a-loader--spinner {
    width: 32px;
}

.a-loader__spinner {
    width: 32px;
    height: 32px;
    margin: auto;
}

.a-loader__dot {
    width: 10px;
    height: 10px;
    background-color: #898989;
    margin: 0 5px;
    border-radius: 100%;
    display: inline-block;
    animation: spinner-bouncedelay 1s infinite ease-in-out both;
}

.a-loader__dot-1 {
    animation-delay: -.32s;
}

.a-loader__dot-2 {
    animation-delay: -.16s;
}

@keyframes spinner-bouncedelay {
    0%, 80%, 100% {
        transform: scale(0);
    }
    40% {
        transform: scale(1.0);
    }
}
