.m-artboards {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 90px);
}

.m-artboards__header {
    position: relative;
    border-bottom: 1px solid rgba(216, 216, 216, .2);
}

.m-artboards__export-label {
    float: left;
    font-size: 11px;
    line-height: 13px;
    color: #9A9EA4;
    padding: 10px 0 10px 18px;
}

.m-artboards__export-target {
    display: block;
    overflow: hidden;
    font-size: 11px;
    line-height: 13px;
    color: #9A9EA4;
    cursor: pointer;
    transition: color 0.2s linear;
}

.m-artboards__export-target:hover,
.m-artboards__export-target:focus {
	color: #363D4A;
}
.m-artboards__export-target:active {
	color: #2b2b2b;
}


.m-artboards__export-target-part {
    display: inline-block;
    padding: 10px 10px 10px 10px;
    position: relative;
}

.m-artboards__export-target-part:after {
    display: block;
    position: absolute;
    content: '';
    background: no-repeat url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4KPHN2ZyB3aWR0aD0iNXB4IiBoZWlnaHQ9IjEzcHgiIHZpZXdCb3g9IjAgMCA1IDEzIiB2ZXJzaW9u PSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6 eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPCEtLSBH ZW5lcmF0b3I6IFNrZXRjaCA0OC4yICg0NzMyNykgLSBodHRwOi8vd3d3LmJvaGVt aWFuY29kaW5nLmNvbS9za2V0Y2ggLS0+CiAgICA8dGl0bGU+YW5nbGUtbGFyZ2Ut cmlnaHQ8L3RpdGxlPgogICAgPGRlc2M+Q3JlYXRlZCB3aXRoIFNrZXRjaC48L2Rl c2M+CiAgICA8ZGVmcz48L2RlZnM+CiAgICA8ZyBpZD0iU291cmNlcyIgc3Ryb2tl PSJub25lIiBzdHJva2Utd2lkdGg9IjEiIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0i ZXZlbm9kZCIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoLTk1NS4wMDAwMDAsIC0yNDAu MDAwMDAwKSI+CiAgICAgICAgPGcgaWQ9Ikdyb3VwLTIiIHRyYW5zZm9ybT0idHJh bnNsYXRlKDc4MS4wMDAwMDAsIDI0MC4wMDAwMDApIiBzdHJva2U9IiM5QTlFQTQi PgogICAgICAgICAgICA8ZyBpZD0iYW5nbGUtbGFyZ2UtcmlnaHQiIHRyYW5zZm9y bT0idHJhbnNsYXRlKDE3NS4wMDAwMDAsIDAuMDAwMDAwKSI+CiAgICAgICAgICAg ICAgICA8ZyBpZD0iR3JvdXAiPgogICAgICAgICAgICAgICAgICAgIDxwb2x5bGlu ZSBpZD0iU2hhcGUiIHBvaW50cz0iMCAwIDMgNi41IDAgMTMiPjwvcG9seWxpbmU+ CiAgICAgICAgICAgICAgICA8L2c+CiAgICAgICAgICAgIDwvZz4KICAgICAgICA8 L2c+CiAgICA8L2c+Cjwvc3ZnPg==');
    background-size: contain;
    right: -4px;
    top: 10px;
    height: 13px;
    width: 5px;
}
.m-artboards__export-target-part:last-child:after {
    display: none;
    background: none;
}

.m-artboards__export-action {
    position: absolute;
    opacity: 0;
    z-index: 1;
    visibility: hidden;
    top: 0;
    right: 0;
    padding: 6px 12px 5px 0;
    background: #fff;
    transition: all 0.2s linear;
}

.m-artboards__header:hover .m-artboards__export-action {
    opacity: 1;
    visibility: visible;
}

.m-artboards__list {
    flex: 1 0;
    overflow: auto;
}

.m-artboards__item {
    background: #fff;
    padding: 9px 18px;
    position: relative;
    transition: background 0.2s linear;
    display: flex;
}

.m-artboards__item.state-selected .m-artboards__preview {
    box-shadow: 0 0 0 3px white, 0 0 0 4px #363D4A;
}

.m-artboards__item.state-selected .m-artboards__title {
    font-weight: bold;
}

.m-artboards__item:first-child {
    margin-top: 10px;
}

.m-artboards__item:last-child {
    margin-bottom: 10px;
}

.m-artboards__item:hover {
    background: rgba(216, 216, 216, 0.2);
}

.m-artboards__meta {
    position: absolute;
}

.m-artboards__meta-icon {
    color: #AFB1B7;
    font-size: 10px;
    padding-top: 1px;
}

.m-artboards__annotation {
    position: relative;
    padding-left: 6px;
    padding-right: 2px;
    text-decoration: none;
}

.m-artboards__annotation-badge {
    position: relative;
    /* top: -5px;
    left: -2px; */
}

.m-artboards__content {
    text-decoration: none;
    display: block;
    overflow: hidden;
    color: #363D4A;
    cursor: default;
}

.m-artboards__actions {
    padding-left: 8px;
    float: right;
    display: flex;
}

.m-artboards__type {
    float: left;
    padding-right: 8px;
}


.m-artboards__icon {
    display: block;
    padding: 5px;
    width: 14px;
    height: 14px;
    font-size: 14px;
    line-height: 1;
    fill: rgba(255,255,255,1);
    color: rgba(255,255,255,1);
}

.m-artboards__item.state-new .m-artboards__type {
    opacity: 0.5;
}

.m-artboards__item.state-failed .m-artboards__badge {
    background: #EF6756;
}

.m-artboards__item.state-uploading .m-artboards__badge {
    background: none;
}

.m-artboards__item.state-uploading .m-artboards__icon {
    color: #4d535f;
}

.m-artboards__title {
    font-size: 12px;
    line-height: 1;
    color: #49505c;
    font-weight: 500;
}

.m-artboards__modified {
    display: block;
    font-size: 11px;
    line-height: 13px;
    color: #AFB1B7;
    font-weight: 100;
}

.m-artboards__no-results {
    display: none;
    position: absolute;
    width: 100%;
    height: 50%;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.m-artboards__no-results.state-visible {
    display: flex;
}


.m-artboards__item {
    display: flex;
    align-items: center;
    justify-items: flex-end;
    max-width: 100%;
    box-sizing: border-box;
}

.m-artboards__details {
    min-width: 0;
    flex-grow: 1;
}

.m-artboards__title {
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    height: 24px;
    max-height: 24px;
    margin: 0;
    /* Standard CSS ellipsis */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: auto;

    /* Beginning of string */
    /* direction: rtl;
    text-align: left; */
}


.m-artboards__upload-state {
    font-size: 11px;
    line-height: 20px;
    color: #686D76;
    white-space: nowrap;
}

.m-artboards__upload-state--failed {
    color: #EF6756;
}

.m-artboards__upload-state.state-hidden {
    display: none;
}

.m-artboards__upload-state.state-visible {
    display: inline-block;
}

.m-artboards__meta-icon {
    font-size: 12px;
    color: #8C909A;
}

.m-artboards__badge {
    width: 24px;
    height: 24px;
    background: #D7D8DB;
    box-sizing: border-box;
    display: block;
    border-radius: 50%;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.m-artboards__preview {
    flex-shrink: 0;
    background-color: #F5F6F9;
    border-radius: 2px;
    overflow: hidden;
    margin-right: 0;
    transition: margin .3s ease;
    position: relative;
}

.m-artboards__preview-image {
    display: block;
    width: 0;
    height: 0;
    transition: all .3s ease;
    object-fit: scale-down;
}

.m-artboards__states {
    display: flex;
}

.m-artboards__upload-state {
    flex-shrink: 1;
    text-overflow: ellipsis;
    overflow: hidden;
}

.m-artboards__upload-trigger-text.state-visible {
    display: inline;
}

.m-artboards__upload-trigger-text.state-hidden {
    display: none;
}


.m-artboards__upload-trigger-progresas.state-visible {
    display: inline;
}

.m-artboards__upload-trigger-progress.state-hidden {
    display: none;
}


.m-artboards__upload.state-failed .m-artboards__upload-button-text--standard {
    display: none;
}

.m-artboards__upload.state-failed .m-artboards__upload-button-text--retry {
    display: block;
}

.m-artboards__upload-button {
    padding: 6px 12px;
    background-color: #EAEBEE;
    font-size: 13px;
    line-height: 1;
    appearance: none;
    box-shadow: none;
    outline: none;
    border: none;
    height: 24px;
    border-radius: 12px;
    transition: all .2s ease;
    display: none;
}

.m-artboards__upload.state-inactive .m-artboards__upload-button {
    display: inline-block;
}

.m-artboards__upload-button-text {
    display: none;
}

.m-artboards__upload.state-inactive .m-artboards__upload-button-text--standard {
    display: inline-block;
}

.m-artboards__upload-feedback {
    display: none;
    padding: 0 12px;
    font-size: 11px;
    line-height: 13px;
    text-align: right;
    color: #8C909A;
}

.m-artboards__upload-feedback--success .m-artboards__icon {
    color: #83B438;
}

.m-artboards__upload-feedback--no-changes .m-artboards__icon {
    color: #83B438;
}

.m-artboards__upload-feedback--failed .m-artboards__icon {
    color: #F16651;
}

.m-artboards__upload.state-uploading .m-artboards__upload-feedback--uploading {
    display: inline-block;
}

.m-artboards__upload.state-failed .m-artboards__upload-button {
    display: inline-block;
}

.m-artboards__upload.state-failed .m-artboards__upload-button-text--retry {
    display: inline-block;
}

.m-artboards__upload.state-success .m-artboards__upload-feedback--success {
    display: inline-block;
}

.m-artboards__upload.state-no-changes .m-artboards__upload-feedback--no-changes {
    display: inline-block;
}

.m-artboards__annotation-count  {
    margin-top: -2px;
    margin-left: 4px;
}

.m-artboards__annotation-count-icon,
.m-artboards__annotation-count-text {
    vertical-align: middle;
}

@media (min-width: 320px) {
    .m-artboards__preview {
        margin-right: 16px;
        padding: 4px;
    }

    .m-artboards__preview-image {
        width: 48px;
        height: 48px;
    }
}

@media (min-width: 480px) {
    .m-artboards__preview-image {
        width: 80px;
        height: 80px;
    }
}

@media (min-width: 540px) {
    .m-artboards__preview-image {
        width: 120px;
        height: 120px;
    }
}
