/* Flex Alignment Utilties */

[align-items='center'] {
    align-items: center;
}

[justify-content='center'] {
    justify-content: center;
}

/* Sizing utility to pierce into some unreachable React wrapper elements */

[stretch-height='true'] > * {
    height: 100% !important;
}

/* Padding Utilities */

[padding='xx-small'] {
    padding: var(--space-xxs);
}
[padding='x-small'] {
    padding: var(--space-xs);
}
[padding='small'] {
    padding: var(--space-s);
}
[padding='medium'] {
    padding: var(--space-m);
}
[padding='large'] {
    padding: var(--space-l);
}

/* Padding X Utilities */

[padding-x='xx-small'] {
    padding-left: var(--space-xxs);
    padding-right: var(--space-xxs);
}
[padding-x='x-small'] {
    padding-left: var(--space-xs);
    padding-right: var(--space-xs);
}
[padding-x='small'] {
    padding-left: var(--space-s);
    padding-right: var(--space-s);
}
[padding-x='medium'] {
    padding-left: var(--space-m);
    padding-right: var(--space-m);
}
[padding-x='large'] {
    padding-left: var(--space-l);
    padding-right: var(--space-l);
}

/* Padding Y Utilities */

[padding-y='xx-small'] {
    padding-top: var(--space-xxs);
    padding-bottom: var(--space-xxs);
}
[padding-y='x-small'] {
    padding-top: var(--space-xs);
    padding-bottom: var(--space-xs);
}
[padding-y='small'] {
    padding-top: var(--space-s);
    padding-bottom: var(--space-s);
}
[padding-y='medium'] {
    padding-top: var(--space-m);
    padding-bottom: var(--space-m);
}
[padding-y='large'] {
    padding-top: var(--space-l);
    padding-bottom: var(--space-l);
}

/* Padding Bottom Utilities */

[padding-bottom='xx-small'] {
    padding-bottom: var(--space-xxs);
}
[padding-bottom='x-small'] {
    padding-bottom: var(--space-xs);
}
[padding-bottom='small'] {
    padding-bottom: var(--space-s);
}
[padding-bottom='medium'] {
    padding-bottom: var(--space-m);
}
[padding-bottom='large'] {
    padding-bottom: var(--space-l);
}

/* Padding Top Utilities */

[padding-top='xx-small'] {
    padding-top: var(--space-xxs);
}
[padding-top='x-small'] {
    padding-top: var(--space-xs);
}
[padding-top='small'] {
    padding-top: var(--space-s);
}
[padding-top='medium'] {
    padding-top: var(--space-m);
}
[padding-top='large'] {
    padding-top: var(--space-l);
}

/* Gap Utilities */

[gap='xx-small'] {
    gap: var(--space-xxs);
}
[gap='x-small'] {
    gap: var(--space-xs);
}
[gap='small'] {
    gap: var(--space-s);
}
[gap='medium'] {
    gap: var(--space-m);
}
[gap='large'] {
    gap: var(--space-l);
}

/* Misc Utilities */

[stretch='true'] {
    height: 100%;
}

[overflow='hidden'] {
    overflow: hidden;
}

[flex] {
    flex: 1;
}

/* These Tailwind classes were missing in @frontify/fondue */

.tw-gap-small {
    gap: 0.5rem;
}

.tw-gap-medium {
    gap: 1rem;
}

.tw-gap-large {
    gap: 1.5rem;
}

.tw-gap-xx-large {
    gap: 2rem;
}
