.a-progress {
    width: 24px;
    height: 24px;
    display: block;
    transform: rotate(-90deg);
    background: #D7D8DB;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
}

.a-progress__progress {
    fill: #f8f8f8;
    stroke: #5FC8D7;
    stroke-width: 32;
    stroke-dasharray: 0 100; /* for 0% */
    transition: stroke-dasharray 0.05s linear;
}

.a-progress__inner {
    fill: #fff;
}
