.m-sources {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 90px);
}

.m-sources__header {
    position: relative;
    border-bottom: 1px solid rgba(216, 216, 216, .2);
}

.m-sources__export-label {
    float: left;
    font-size: 11px;
    line-height: 13px;
    color: #9A9EA4;
    padding: 10px 0 10px 18px;
}

.m-sources__export-target {
    display: block;
    overflow: hidden;
    font-size: 11px;
    line-height: 13px;
    color: #9A9EA4;
    cursor: pointer;
    transition: color 0.2s linear;
}

.m-sources__export-target:hover,
.m-sources__export-target:focus {
	color: #363D4A;
}
.m-sources__export-target:active {
	color: #2b2b2b;
}


.m-sources__export-target-part {
    display: inline-block;
    padding: 10px 10px 10px 10px;
    position: relative;
}

.m-sources__export-target-part:after {
    display: block;
    position: absolute;
    content: '';
    background: no-repeat url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4KPHN2ZyB3aWR0aD0iNXB4IiBoZWlnaHQ9IjEzcHgiIHZpZXdCb3g9IjAgMCA1IDEzIiB2ZXJzaW9u PSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6 eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPCEtLSBH ZW5lcmF0b3I6IFNrZXRjaCA0OC4yICg0NzMyNykgLSBodHRwOi8vd3d3LmJvaGVt aWFuY29kaW5nLmNvbS9za2V0Y2ggLS0+CiAgICA8dGl0bGU+YW5nbGUtbGFyZ2Ut cmlnaHQ8L3RpdGxlPgogICAgPGRlc2M+Q3JlYXRlZCB3aXRoIFNrZXRjaC48L2Rl c2M+CiAgICA8ZGVmcz48L2RlZnM+CiAgICA8ZyBpZD0iU291cmNlcyIgc3Ryb2tl PSJub25lIiBzdHJva2Utd2lkdGg9IjEiIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0i ZXZlbm9kZCIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoLTk1NS4wMDAwMDAsIC0yNDAu MDAwMDAwKSI+CiAgICAgICAgPGcgaWQ9Ikdyb3VwLTIiIHRyYW5zZm9ybT0idHJh bnNsYXRlKDc4MS4wMDAwMDAsIDI0MC4wMDAwMDApIiBzdHJva2U9IiM5QTlFQTQi PgogICAgICAgICAgICA8ZyBpZD0iYW5nbGUtbGFyZ2UtcmlnaHQiIHRyYW5zZm9y bT0idHJhbnNsYXRlKDE3NS4wMDAwMDAsIDAuMDAwMDAwKSI+CiAgICAgICAgICAg ICAgICA8ZyBpZD0iR3JvdXAiPgogICAgICAgICAgICAgICAgICAgIDxwb2x5bGlu ZSBpZD0iU2hhcGUiIHBvaW50cz0iMCAwIDMgNi41IDAgMTMiPjwvcG9seWxpbmU+ CiAgICAgICAgICAgICAgICA8L2c+CiAgICAgICAgICAgIDwvZz4KICAgICAgICA8 L2c+CiAgICA8L2c+Cjwvc3ZnPg==');
    background-size: contain;
    right: -4px;
    top: 10px;
    height: 13px;
    width: 5px;
}
.m-sources__export-target-part:last-child:after {
    display: none;
    background: none;
}

.m-sources__export-action {
    position: absolute;
    opacity: 0;
    z-index: 1;
    visibility: hidden;
    top: 0;
    right: 0;
    padding: 6px 12px 5px 0;
    background: #fff;
    transition: all 0.2s linear;
}

.m-sources__header:hover .m-sources__export-action {
    opacity: 1;
    visibility: visible;
}

.m-sources__list {
    flex: auto;
    overflow-y: scroll;
}

.m-sources__item {
    background: #fff;
    padding: 9px 18px;
    position: relative;
    transition: background 0.2s linear
}

.m-sources__item:first-child {
    margin-top: 10px;
}

.m-sources__item:last-child {
    margin-bottom: 10px;
}

.m-sources__item:hover {
    background: rgba(216,216,216,0.2);
}

.m-sources__content {
    text-decoration: none;
    display: block;
    overflow: hidden;
    color: #363D4A;
    cursor: default;
}

.m-sources__actions {
    padding-left: 8px;
    float: right;
}

.m-sources__type {
    float: left;
    padding-right: 8px;
}

.m-sources__badge {
    width: 24px;
    height: 24px;
    background: #D7D8DB;
    box-sizing: border-box;
    display: block;
    border-radius: 50%;
    text-align: center;
}

.m-sources__icon {
    display: block;
    padding: 5px;
    width: 14px;
    height: 14px;
    font-size: 14px;
    line-height: 1;
    fill: rgba(255,255,255,1);
    color: rgba(255,255,255,1);
}

.m-sources__item.state-new .m-sources__type,
.m-sources__item.state-addable .m-sources__type {
    opacity: 0.5;
}

.m-sources__item.state-push .m-sources__badge,
.m-sources__item.state-pull .m-sources__badge {
    background: #5FC8D7;
}

.m-sources__item.state-conflict .m-sources__badge {
    background: #FAB117;
}

.m-sources__item.state-failedadd .m-sources__badge,
.m-sources__item.state-faileddownload .m-sources__badge,
.m-sources__item.state-failedpull .m-sources__badge,
.m-sources__item.state-failedpush .m-sources__badge {
    background: #EF6756;
}

.m-sources__item.state-success .m-sources__badge,
.m-sources__item.state-same .m-sources__badge {
    background: #A3CE62;
}

.m-sources__item.state-downloading .m-sources__badge,
.m-sources__item.state-uploading .m-sources__badge,
.m-sources__item.state-pushing .m-sources__badge,
.m-sources__item.state-pulling .m-sources__badge {
    background: none;
}

.m-sources__item.state-downloading .m-sources__icon,
.m-sources__item.state-uploading .m-sources__icon,
.m-sources__item.state-pushing .m-sources__icon,
.m-sources__item.state-pulling .m-sources__icon {
    color: #4d535f;
}

.m-sources__title {
    font-size: 12px;
    line-height: 1;
    color: #49505c;
    font-weight: 500;
}

.m-sources__ext {
    color: rgba(0,0,0,0.2);
}

.m-sources__modified {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 11px;
    line-height: 13px;
    color: #AFB1B7;
    font-weight: 100;
}

.m-sources__menu-push {
    min-width: 0;
}

.m-sources__bubble {
    display: inline-block;
    height: 6px;
    width: 6px;
    border-radius: 50%;
    background-color: #FAB117;
}

.m-sources__blank {
    flex-grow: 1;
}

.m-sources__no-results {
    display: none;
    position: absolute;
    width: 100%;
    height: 50%;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.m-sources__no-results.state-visible {
    display: flex;
}
