.a-h1, .a-h2, .a-h3, .a-h4 {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.a-h2 {
    font-size: 24px;
    line-height: 28px;
    color: rgba(54,61,74,1);
    margin-bottom: 15px;
    margin-top: 30px;
}

.a-h2:first-child {
    margin-top: 0;
}

.a-h3 {
    font-size: 20px;
    line-height: 24px;
    color: rgba(54,61,74,1);
    margin-bottom: 15px;
    margin-top: 30px;
}

.a-h3:first-child {
    margin-top: 0;
}

.a-h4 {
    font-size: 13px;
    line-height: 20px;
    color: rgba(54,61,74,1);
}

.a-h5 {
    font-size: 12px;
    line-height: 1.25;
    text-transform: uppercase;
    font-family: Lato, sans-serif;
    margin-bottom: 10px;
    color: rgba(154,158,164,1);
}